// Floats
.pull-left{ float: left !important; }
.pull-right{ float: right !important; }

// Margins
.margin-top { margin-top: 10px;}
.margin-right { margin-right: 10px;}
.margin-bottom { margin-bottom: 10px;}
.margin-left { margin-left: 10px;}

.margin__less { margin: 0px; }
.margin__less-top {margin-top: 0px; }
.margin__less-right {margin-right: 0px; }
.margin__less-bottom {margin-bottom: 0px; }
.margin__less-left {margin-left: 0px; }

// Background Colors
.bg--orange { background-color: $orange; }
.bg--blue-dark { background-color: $dark-blue; }
.bg--orange-medium { background-color: $medium-orange; }
.bg--orange-dark { background-color: $dark-orange; }
.bg--blue-light { background-color: $light-blue; }
.bg--blue { background-color: $blue; }
.bg--blue-medium { background-color: $medium-blue; }
.bg--taupe-light { background-color: $light-taupe}
.bg--taupe-medium { background-color: $medium-taupe}
.bg--taupe-dark { background-color: $dark-taupe}
.bg--grey-light { background-color: $light-grey}
.bg--grey-medium { background-color: $medium-grey}
.bg--grey-dark { background-color: $dark-grey}
.bg--white { background-color: $white}

// Text Colors 
.text--orange { color: $orange; }
.text--blue-dark { color: $dark-blue; }
.text--orange-medium { color: $medium-orange; }
.text--orange-dark { color: $dark-orange; }
.text--blue-light { color: $light-blue; }
.text--blue { color: $blue; }
.text--blue-medium { color: $medium-blue; }
.text--taupe-light { color: $light-taupe}
.text--taupe-medium { color: $medium-taupe}
.text--taupe-dark { color: $dark-taupe}
.text--grey-light { color: $light-grey}
.text--grey-medium { color: $medium-grey}
.text--grey-dark { color: $dark-grey}
.text--white { color: $white}

// Box
.box {
  height: 50px;
  width: 50px;
}

//Outlines
.outline {
	border: 1px solid;
}