// BASE
html, body{
  font-size: 16px;
  color: $black;
  font-family: $font;
}

// Headers
h1, h2, h3, h4 {
  font-family: $font;
  color: $black;
}

h1 {
	font-family: $font;
	color: $black;
}

h1 { font-size: 40px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 23px; }

// Header Tag Classes
.h1 { font-size: 40px; }
.h2 { font-size: 36px; }
.h3 { font-size: 28px; }
.h4 { font-size: 23px; }

// Paragraph 
p, li, ul, a, {
	font-family: $font;
	font-size: 16px;
	text-decoration: none;
	color: $black;
}

.p, .li, .ul, .a, {
	font-family: $font;
	font-size: 16px;
	text-decoration: none;
	color: $black;
}

// Footnotes, Captions, Breadcrumbs, Lorem 
.note { font-size: 12px; color: $black; }


// Link Hover
a:hover {
	color: $medium-orange;
}

// Text Align
.text-center {
	text-align: center;
}
