// BASE
html, body{
  font-size: 20px;
  color: $black;
}

// Headers
h1 h2, h3, h4 {
  font-family: $font;
  color: $black;
}

h1 {
	font-family: $font;
	color: $black;
}

h1 { font-size: 40px; }
h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 23px; }

// Header Tag Classes
.h1 { font-size: 40px; }
.h2 { font-size: 36px; }
.h3 { font-size: 30px; }
.h4 { font-size: 23px; }

// Paragraph 
p {
	font-family: $font;
	font-size: 20px;
}

// Footnotes, Captions, Breadcrumbs, Lorem 
.note { font-size: 12px; }

// Link 
a {
	font-size: 20px;
	font-weight: normal;
	font-family: $font;
	color: $orange;
}
// Link Hover
a:hover {
	color: $medium-orange;
}